.btn-cadastro{
    background-color: #614EA6;
    color: #fff;
}

.btn-cadastro:hover{
    background-color: #f21667;
    color: #fff;
}
.positionTitle{
    margin-bottom: 0;
}

.inputBord{
    border: rgb(221, 223, 224) solid 1px !important;
    border-radius: 3px;
}