.navbar{
    background:  linear-gradient( 0deg, rgb(223, 195, 37), yellow);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.30);
    padding: 10px 10px 10px 20px;
    
    
}
.nav-item a{
    color: rgb(223, 128, 4);
    transition: .3s ease-in;
    font-size: large;
    font-weight: bold;
}

.nav-item a:hover{
    color: #f21667;
}